#files to exclude
WEB/PHP/.env.php
WEB/PHP/api/reports/addreport/config.inc.php
WEB/PHP/api/reports/getreports/config.inc.php
WEB/PHP/api/users/login/config.inc.php
WEB/PHP/api/users/register/config.inc.php
WEB/PHP/api/config.inc.php