#files to exclude
PHP/.env.php
PHP/api/reports/addreport/config.inc.php
PHP/api/reports/getreports/config.inc.php
PHP/api/login/config.inc.php
PHP/api/register/config.inc.php
PHP/api/config.inc.php
.gitignore